<MudDialog>
    <TitleContent>
        <MudText Color="Color.Error">CONFIRM</MudText>
    </TitleContent>
    <DialogContent>
        <p style="color:red;">
        <MudIcon Icon="@Icons.Material.Filled.Dangerous" Size="Size.Large" Color="Color.Error" Title="Delete Baseline" />
            THIS IS IRREVERSABLE OPERATION!
        </p>
        <p style="color:red; align-content:center">
            Are you sure you want to delete following Baseline? 
        </p>
        <p style="color:red; align-content:center">
           <b> @deletingBaselineName.ToString() </b>
        </p>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="Submit">Yes</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Cancel">No</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public string deletingBaselineName { get; set; }

    private void Submit() => MudDialog.Close(DialogResult.Ok(true));

    private void Cancel() => MudDialog.Cancel();
}

